/* Timeline bar */
#timeline_status_marker {
  position: relative;
  margin-top: 8rem;
  display: block;
  content: "";
  width: 100%;
  height: 20px;
  border-radius: 1rem;
}

/* Style for different milestone */
#timeline_steps_0 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.197);
  background-image: linear-gradient(to right, rgb(220, 14, 83) 0%, rgb(220, 14, 83) 0%,transparent 0%, transparent 100%);
  
}

#timeline_steps_1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.197);
  background-image: linear-gradient(to right, rgb(220, 14, 83) 0%, rgb(220, 14, 83) 35%,transparent 35%, transparent 100%);
}

#timeline_steps_2 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.197);
  background-image: linear-gradient(to right, rgb(220, 14, 83) 0%, rgb(220, 14, 83) 65%,transparent 35%, transparent 100%);
}

#timeline_steps_3 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.197);
  background-image: linear-gradient(to right, rgb(220, 14, 83) 0%, rgb(220, 14, 83) 100%,transparent 35%, transparent 100%);
}

/* Milestone circle */ 
.timeline_step {
  list-style: none;
  margin-top: -20px;
  position: relative;
  width: 30px;
  top: 10px;
  height: 30px;
  border-radius: 50%;
  /* background-color: rgb(220, 14, 83); */
  border: 10px solid rgb(220, 14, 83);
  
}

/* Unvisited Milestone */
.timeline_step_disabled {
  margin-top: -20px;
  content: "";
  display: block;
  position: relative;
  width: 30px;
  top: 10px;
  height: 30px;
  border-radius: 50%;

  border: 10px solid rgba(0, 0, 0, 0.3);
 
}

/* Container for arrow navigation */
.cd-timeline-navigation {
  width: 100%;
  display: flex;
  justify-content: space-between;
  list-style: none;
}

.events-content{
  margin-top: 1rem;
}


/* Buttons for navigation */
.next{
  color: rgb(220, 14, 83) ;
  font-size: 2rem;
  cursor: pointer;
}

.prev{
  color: rgb(220, 14, 83) ;
  font-size: 2rem;
  cursor: pointer;
}

